:root {
	--headerfont: 'Rock Salt', Arial, sans-serif;
	--bodyfont: 'Poppins', Arial, sans-serif;
	--paragraph: #121629;
	--border: #121629;
	--background: #232946;
	--buttonText: #232946;
	--label: #b8c1ec;
	--mainBackground: #b8c1ec;
	--hover: #eebbc3;
	--cardBackground: #eebbc3;
	--button: #eebbc3;
	--icon: #eebbc3;
	--heading: #fffffe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	scroll-behavior: smooth;
	background-color: var(--background);
	font-family: var(--bodyfont);
	color: var(--paragraph);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	padding: 1rem;
	text-align: center;
	font-family: var(--headerfont);
}

.header-form {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px 0;
}

.header-item, #loadingIndicator, #errorMessage {
	width: 100%;
	padding: 10px;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

input, button {
	padding: 10px;
	margin: 5px;
	border: 2px solid var(--border);
	border-radius: 5px;
}

button {
	background-color: var(--mainBackground);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--hover);
}

#weatherCardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	width: 90%;
	margin: 2rem auto;
}

.weather-data-card {
	background-color: var(--cardBackground);
	border: 1px solid var(--border);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	transition: transform 0.3s ease-in-out;
}

.weather-data-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px var(--hover);
}

.weather-data-icon {
	text-align: center;
	margin: 5px;
}

.weather-data-name, .weather-data {
	text-align: center;
	font-size: 18px;
	margin: 5px;
	color: var(--paragraph);
}

#loadingIndicator, #errorMessage {
	text-align: center;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	background-color: var(--mainBackground);
	color: var(--paragraph);
	border: 1px solid var(--border);
	border-radius: 2rem;
	display: none;
}