:root {
	--headerfont: 'Rock Salt', Arial, sans-serif;
	--bodyfont: 'Poppins', Arial, sans-serif;
	--paragraph: #121629;
	--border: #121629;
	--background: #232946;
	--buttonText: #232946;
	--label: #b8c1ec;
	--mainBackground: #b8c1ec;
	--hover: #eebbc3;
	--cardBackground: #eebbc3;
	--button: #eebbc3;
	--icon: #eebbc3;
	--heading: #fffffe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
	background-color: var(--background);
	font-family: var(--bodyfont);
	color: var(--paragraph);
	line-height: 1.6;
}

main {
	display: flex;
	justify-content: center;
}

header {
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
	font-family: var(--headerfont);
}

.weatherCardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	transition: box-shadow ease-in 200ms 2ms;
}

.weather-data-card {
	background-color: var(--mainBackground);
	border: dashed .2rem var(--border);
	border-radius: 2rem;
	width: 13rem;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.weather-data-card:hover {
	box-shadow: 0 0 5rem rgba(238, 187, 195, 1);
}

.weather-data-icon {
	text-align: center;
	margin: 5px;
}

.weather-data-name, .weather-data {
	text-align: center;
	font-size: 18px;
	margin: 5px;
	color: var(--paragraph);
}

#loadingIndicator, #errorMessage {
	text-align: center;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 2rem;
	display: none;
}

